@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: #65c2c7;
}

.container__cards {
    max-width: 1800px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover {
    width: 350px;
}

.card .cover {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img {
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
    transition: all 400ms;
}

.card:hover .cover img {
    top: 0px;
    filter: none;
}

.card .img__back {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:hover .img__back {
    bottom: -40px;
}

.card .description {
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description {
    padding: 40px;
}

.card .description h2 {
    margin-top: 10px;
}

.card .description p {
    margin-top: 25px;
}

.card .description input {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover {
    background: #83277b;
}

.future {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background: #fa1a1a;
    font-size: 16px;
    color: cornsilk;
    font-weight: bold;
    border: none;
}

.dollar {
    float: right;
    border: 1px solid #636363;
    background: rgb(238, 238, 238);
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 46%, rgba(208, 208, 208, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(46%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(208, 208, 208, 1)));
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 46%, rgba(208, 208, 208, 1) 100%);
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 46%, rgba(208, 208, 208, 1) 100%);
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 46%, rgba(208, 208, 208, 1) 100%);
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 46%, rgba(208, 208, 208, 1) 100%);
    font-size: 1.2em;
    line-height: 1.3em;
}

p.dollar span.in-dollar {
    background: rgb(252, 94, 53);
    background: -moz-linear-gradient(top, rgba(252, 94, 53, 1) 0%, rgba(252, 94, 53, 1) 0%, rgba(119, 119, 119, 1) 0%, rgba(119, 119, 119, 1) 58%, rgba(71, 71, 71, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 94, 53, 1)), color-stop(0%, rgba(252, 94, 53, 1)), color-stop(0%, rgba(119, 119, 119, 1)), color-stop(58%, rgba(119, 119, 119, 1)), color-stop(100%, rgba(71, 71, 71, 1)));
    background: -webkit-linear-gradient(top, rgba(252, 94, 53, 1) 0%, rgba(252, 94, 53, 1) 0%, rgba(119, 119, 119, 1) 0%, rgba(119, 119, 119, 1) 58%, rgba(71, 71, 71, 1) 100%);
    background: -o-linear-gradient(top, rgba(252, 94, 53, 1) 0%, rgba(252, 94, 53, 1) 0%, rgba(119, 119, 119, 1) 0%, rgba(119, 119, 119, 1) 58%, rgba(71, 71, 71, 1) 100%);
    background: -ms-linear-gradient(top, rgba(252, 94, 53, 1) 0%, rgba(252, 94, 53, 1) 0%, rgba(119, 119, 119, 1) 0%, rgba(119, 119, 119, 1) 58%, rgba(71, 71, 71, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 94, 53, 1) 0%, rgba(252, 94, 53, 1) 0%, rgba(119, 119, 119, 1) 0%, rgba(119, 119, 119, 1) 58%, rgba(71, 71, 71, 1) 100%);
    color: #fff;
}

p.dollar span {
    border-right: 1px solid #636363;
    padding: 4px;
    display: inline-block;
    color: #636363;
}